{% extends "layout.html" %}
{% block content %}
<form action="/" method="POST" enctype="multipart/form-data" name="type">
<fieldset>
    <b>Type 1</b><br>
    {% for type in type1 %}
    {% if type in visible_types1 %}
    <input type="checkbox" name="type1" value="{{type}}" checked>{{type}}
    {% else %}
    <input type="checkbox" name="type1" value="{{type}}">{{type}}
    {% endif %}
    {% endfor %}
    <!-- <input type="checkbox" name="type3" value="R" checked>Replace
    <input type="checkbox" name="type3" value="M" checked>Insert
    <input type="checkbox" name="type3" value="U" checked>Delete -->
</fieldset>
{% if type2 != [''] %}
<fieldset>
    <b>Type 2</b><br>
    {% for type in type2 %}
    {% if type in visible_types2 %}
    <input type="checkbox" name="type2" value="{{type}}" checked>{{type}}
    {% else %}
    <input type="checkbox" name="type2" value="{{type}}">{{type}}
    {% endif %}
    {% endfor %}
</fieldset>
{% endif %}
<fieldset>
    <input type="checkbox" name="type_god" onclick="all_check(true)">ALL_CHECK
    <input type="checkbox" name="type_god" onclick="all_check(false)">ALL_UNCHECK
</fieldset>
    <div>
        <input type="submit" value="Apply">
    </div>
</form>

Number of sentences: {{ dataset.n_sents }}
{% for seq_dataset in dataset.data %}
<h3><b>Line {{seq_dataset.id}}:</b></h3>
<span style="background-color: #CCCCCC" ><b>Original</b></span>
<ol>
    {{ seq_dataset.orig }}
</ol>
<span style="background-color: #CCCCCC;"><b>References</b></span>
<br>
<ol>
{% for ref_id in range(seq_dataset.n_refs) %}
<li>
{% for chunk in seq_dataset.refs_chunks[ref_id] %}
{% if chunk.c_str %}
    {% if chunk.type in visible_types %}
        <span style="background-color: #FEE2DD; padding-bottom: 0.2em;"><u><b>{{chunk.o_str}} → {{chunk.c_str}}</b></u><sub> {{chunk.type}}</sub></span>
    {% else %}
        <span style="background-color: #EEEEEE; padding-bottom: 0.2em;"><u><b>{{chunk.o_str}} → {{chunk.c_str}}</b></u><sub> {{chunk.type}}</sub></span>
    {% endif %}
{% else %}
    {{chunk.o_str}}
{% endif %}
{% endfor%}
</li>
{% endfor %}
</ol>

<span style="background-color: #CCCCCC;"><b>Hypotheses</b></span>
<br>
<ol>
{% for hyp_id in range(seq_dataset.n_hyps) %}
<li>
{% for chunk in seq_dataset.hyps_chunks[hyp_id] %}
{% if chunk.c_str %}
    {% if chunk.type in visible_types %}
        <span style="background-color: #FEE2DD; padding-bottom: 0.2em;"><u><b>{{chunk.o_str}} → {{chunk.c_str}}</b></u><sub> {{chunk.type}}</sub></span>
    {% else %}
        <span style="background-color: #EEEEEE; padding-bottom: 0.2em;"><u><b>{{chunk.o_str}} → {{chunk.c_str}}</b></u><sub> {{chunk.type}}</sub></span>
    {% endif %}
{% else %}
    {{chunk.o_str}}
{% endif %}
{% endfor%}
</li>
{% endfor %}
</ol>

<hr>
{% endfor %}


<script>
    function all_check(tf){
        var n_elements = document.type.elements.length;
        for( i=0 ; i<n_elements ; i++ ) {
            document.type.elements[i].checked = tf;
        }
    }
</script>

{% endblock %}